* {
    border: none;
    border-radius: 0;
    font-family: Fira Code;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #303446;
    color: #FEF3F4;
    border-radius: 25;
}

tooltip {
    background: rgb(43, 48, 59);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#clock{
    color: #e5c890;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#custom-powermenu{
    font-size: 14;
    color: #e78284;
    margin-bottom: 2px;
    margin-right: 8px;
    margin-left: 2px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#disk{
    color: #babbf1;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#cpu{
    color: #81c8be;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#memory{
    color: #8caaee;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#pulseaudio{
    color: #a6d189;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#custom-weather{
    color: #ca9ee6;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#custom-drawer{
    font-size: 22;
    color: #eebebe;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25;
}

#tray{
    background: #81c8be;
    border-radius: 25;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#taskbar{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#taskbar button.active{
    background: #e5c890;
    border-radius: 25;
}

#window{
    color: #99d1db;
}
